<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=0.75">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/nav.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plotly.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/utils.js') }}"></script>

        <title>{% block title %}{% endblock %}</title>
        {% block style %}
        {% endblock %}
    </head>
    <body>
            {% block content %}
            {% endblock %}
    </body>
</html>
