{% extends "base.html" %}
{% block title %}Fio Web Viewer result browser{% endblock %}
{% block style %}
    <style>
        .fio-plot {
            display: inline-block;
        }
        .fio-table-outer{
            margin-left: 15px;
        }
        .plot-container {
            white-space: nowrap;
        }
        .table-names {
            background-color: #eaeaea;
            color: #333333;
            text-align: center;
        }
        .table-bordered > thead > tr > th.table-head {
            border-style: solid;
            border-color: #666666;
            font-size: 150%;
        }
        .table-tags{
            line-height: 200%;
        }
        .table-tags span{
            background-color: #eaeaea;
            padding: 3px;
            border-radius: 3px;
        }
        #fio-table tr:hover td{
            border-bottom-color: #666;
        }
        .write .table-property-name{
            background-color: #d8d8d8;
        }
        .table-property-name {
            font-weight: bold;
        }
        .percent-positive {
            color: #2ecc71;
        }
        .percent-negative {
            color:  #e74c3c;
        }
        .percent-neutral {
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
    <nav id="navbar" class="navbar navbar-default">
            <ul class="navbar-nav">
                <li><a href="/">Index</a></li>
                    <li class="links">
                        <ul>
                        <li>
                            <ul>
                                <li>Tables:</li>
                                {% for key in fio_table.keys() %}
                                <li><a class="btn btn-xs" href="#{{key}}">{{key}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li>Plots:</li>
                                {% for log in selected_fio_results[0].group_reports[0].jobs[0].logs %}
                                <li><a class="btn btn-xs" href="#plot{{log.log_type}}anchor">{{log.log_type}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><button type="button" id="bn-fio-reset" class="btn btn-xs">Reset zoom</button></li>
           </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <button type="button" id="bn-fio-table" class="btn btn-info btn-xs">Hide table</button>
            </div>
        </div>
        <div class="row">
            <div class="fio-table-outer" id="fio-table">
            <table class="table table-bordered table-striped table-hover table-condensed">
                <thead>
                 <th class="table-names table-property-name"></th>
                {% for fio_result in selected_fio_results %}
                    {% for fio_group_report in fio_result.group_reports %}
                        <th class="table-names table-head">{{fio_result.fio_name}}</th>
                    {% endfor %}
                {% endfor %}
                </thead>
                <tbody>
                     <tr>
                        <td class="table-names table-property-name"></td>
                        {% for fio_result in selected_fio_results %}
                            {% for fio_group_report in fio_result.group_reports %}
                                <td style="background-color: #eaeaea">
                                    <p class="table-tags">{% for tag in fio_result.tags_list %} <span>{{tag}}</span>{% endfor %}</p>
                                    <p style="font-weight: bold">Fio user args</p><button type="button" id="bn-fio-{{fio_result.dir_name}}-{{fio_group_report.group_id}}" class="btn btn-info btn-xs">Toggle show</button>
                                    <pre id="fio-userargs-{{fio_result.dir_name}}-{{fio_group_report.group_id}}" style="white-space: pre-wrap; display: none">{{fio_result.fio_userargs}}</pre>
                                </td>
                            {% endfor %}
                        {% endfor %}
                    </tr>
                {% for key in fio_table.keys() %}
                <tr {% if "WRITE" in key %} class="write"{% endif %}>
                    <th colspan="{{group_report_count}}" class="table-names table-property-name">{{key}}<a id="{{key}}" class="anchor-link"></a></th>
                    </tr>
                    {% for inner_key in fio_table[key] %}
                    <tr{% if "WRITE" in key %} class="write"{% endif %}>
                        <td class="table-names table-property-name">{{inner_key}}</td>
                        {% for fio_result in selected_fio_results %}
                            {% for fio_group_report in fio_result.group_reports %}
                                {% if "Info" in key or "iops" in inner_key %}
                                <td>{{fio_group_report|attr(fio_table[key][inner_key])}}</td>
                                {% elif "per" in inner_key %}
                                <td>{{fio_group_report|attr(fio_table[key][inner_key])}} %</td>
                                {% elif "IO DEPTH" in key %}
                                <td>{{fio_group_report.io_depth_distrib[fio_table[key][inner_key]]}} %
                                    <span class="percent-{{compared_fio_result[fio_result.dir_name][fio_group_report.group_id].io_depth_distrib[fio_table[key][inner_key]].state}}">
                                    ({{compared_fio_result[fio_result.dir_name][fio_group_report.group_id].io_depth_distrib[fio_table[key][inner_key]].percentage_difference}}%)
                                    </span>
                                </td>
                                {% elif "CPU USAGE" in key %}
                                <td>{{fio_group_report|attr(fio_table[key][inner_key])}}{% if "usr" in inner_key or "sys" in inner_key %}%{% endif %}
                                         <span class="percent-{{compared_fio_result[fio_result.dir_name][fio_group_report.group_id].__dict__[fio_table[key][inner_key]].state}}">
                                        ({{compared_fio_result[fio_result.dir_name][fio_group_report.group_id].__dict__[fio_table[key][inner_key]].percentage_difference}}%)
                                        </span>
                                </td>
                                {% elif "READ CLAT PERCENTILES" in key %}
                                <td>{{fio_group_report.convert_unit("read_completion_lat_percentiles_usec", fio_table[key][inner_key])}}
                                          <span class="percent-{{compared_fio_result[fio_result.dir_name][fio_group_report.group_id].read_completion_lat_percentiles_usec[fio_table[key][inner_key]].state}}">
                                        ({{compared_fio_result[fio_result.dir_name][fio_group_report.group_id].read_completion_lat_percentiles_usec[fio_table[key][inner_key]].percentage_difference}}%)
                                        </span>
                                </td>
                                {% elif "WRITE CLAT PERCENTILES" in key %}
                                <td>{{fio_group_report.convert_unit("write_completion_lat_percentiles_usec", fio_table[key][inner_key])}}
                                          <span class="percent-{{compared_fio_result[fio_result.dir_name][fio_group_report.group_id].write_completion_lat_percentiles_usec[fio_table[key][inner_key]].state}}">
                                        ({{compared_fio_result[fio_result.dir_name][fio_group_report.group_id].write_completion_lat_percentiles_usec[fio_table[key][inner_key]].percentage_difference}}%)
                                        </span>
                                </td>
                                {% elif "lat (usec)" in key %}
                                <td>{{fio_group_report.io_lat_distrib_usec[fio_table[key][inner_key]]}} %
                                        <span class="percent-{{compared_fio_result[fio_result.dir_name][fio_group_report.group_id].io_lat_distrib_usec[fio_table[key][inner_key]].state}}">
                                        ({{compared_fio_result[fio_result.dir_name][fio_group_report.group_id].io_lat_distrib_usec[fio_table[key][inner_key]].percentage_difference}}%)
                                        </span>
                                </td>
                                {% elif "lat (msec)" in key %}
                                <td>{{fio_group_report.io_lat_distrib_msec[fio_table[key][inner_key]]}} %
                                        <span class="percent-{{compared_fio_result[fio_result.dir_name][fio_group_report.group_id].io_lat_distrib_msec[fio_table[key][inner_key]].state}}">
                                        ({{compared_fio_result[fio_result.dir_name][fio_group_report.group_id].io_lat_distrib_msec[fio_table[key][inner_key]].percentage_difference}}%)
                                        </span>
                                </td>
                                {% else %}
                                <td>{{fio_group_report.convert_unit(fio_table[key][inner_key])}}
                                         <span class="percent-{{compared_fio_result[fio_result.dir_name][fio_group_report.group_id].__dict__[fio_table[key][inner_key]].state}}">
                                        ({{compared_fio_result[fio_result.dir_name][fio_group_report.group_id].__dict__[fio_table[key][inner_key]].percentage_difference}}%)
                                        </span>
                               </td>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        <div class="row plot-container">
        <div class="fio-plot-container">
            {% for log in selected_fio_results[0].group_reports[0].jobs[0].logs %}
                <div id="plot{{log.log_type}}wrapper" class="fio-plot-box">
                    <a id="plot{{log.log_type}}anchor" class="anchor-link"></a>
                    <div id="plot{{log.log_type}}"></div>
                    <div id="plot{{log.log_type}}loader" style="display:none" class="plot-loader">Loading {{log.log_type}}...<div class="loader"></div></div>
                    <div id="plot{{log.log_type}}error" style="display:none" class="plot-loader">Cannot load {{log.log_type}}</div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
    $( "#bn-fio-userargs" ).click(function() {
        $( "#fio-userargs" ).toggle();
    });
    </script>
    <script>
    $( "#bn-fio-table" ).click(function() {
        $( "#fio-table" ).toggle(function() {
            if ( $("#fio-table").css('display') == "none"){
                $( "#bn-fio-table" ).html("Show Table");
            } else {
                $( "#bn-fio-table" ).html("Hide Table");
            }
        });
    });
    </script>
    {% for fio_result in selected_fio_results %}
    {% for fio_group_report in fio_result.group_reports %}
    <script>
    $( "#bn-fio-{{fio_result.dir_name}}-{{fio_group_report.group_id}}" ).click(function() {
        $( "#fio-userargs-{{fio_result.dir_name}}-{{fio_group_report.group_id}}" ).toggle();
    });
    </script>
    {% endfor %}
    {% endfor %}
    <script>
        "use strict"
        var results =  [ {% for result in results %} '{{result}}', {% endfor %} ]
        startPlotting("aggregated");
    </script>
{% endblock %}
